body{
	background-image: url("../images/background.jpg");

}
.flip2{
	backface-visibility: hidden;
	transform: rotateX(720deg) rotateY(720deg);
	transition: all 4s;
}
.theWholeWorld{	
	/* position: absolute; */
	font-family: "Bungee Inline";
	font-size: 22px;
	background-size: 100%;
	height: 100%;
	display: none;
}


.game-wrapper{
	/* display: none; */
}
.top-margin{
	margin-top: 5%;
}
.header{
	height: 60px;
	width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	position: absolute;
}
.header img{
	margin: auto;
}
.the-table{
	/* background-color: darkblue; */
	/* border: 5px solid #663300; */
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0;
	/* transform: perspective(1500px) rotateX(35deg); */

}
.placehold{
	width: 100%;
}

.dealer-cards{
	/* perspective: 300px */
}

.hide-card-2{
	margin: ;
}

.card{
	height: 220px;
	width: 14%;
	/* background-color: #fff; */
	color: black;
	/* border: 2px solid black; */
	/* #FDC91C */
	padding: 0;
	margin: 0;
	/* transform: rotateY(25deg); */
	/* display: inline-block; */
    /* box-shadow: 4px 4px 5px darkorange; */
}


img {
	width: 100%;
	height: 100%;
}

.container {
	width: 90% !important;
}

.dealer-total {
	color: white;
}
.player-total {
	color: white;
}

.dealer-cards .card{
	/* float: right; */
}

.bet-wrapper{
	position: absolute;
	bottom: 20px;
	right: 20px;
	/* background-color: white; */
	padding: 20px;
}
.bet-wrapper div{
	display: inline-block;
}
.frame{
 	background-image: url("../images/button.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 62px;
 	line-height: 62px;
 	width: 100px;
 	text-align: center;
 	font-family: Frijole;
 	color: black;
 	font-size: 17px;
 	margin: 20px;
}

.deal{
 	background-image: url("../images/deal.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid white;
 	height: 62px;
 	line-height: 55px;
 	width: 110px;
 	text-align: center;
 	font-family: Frijole;
 	font-size: 17px;
 	margin-left: 20px;
 	color: whitesmoke;	
 	z-index: 3;
}
.deal:hover{
	background-image: url("../images/dealHover.jpeg");
	border: 2px solid grey;
	transition-duration: 0;
}
.reset-bet.deal{
	background-image: url("../images/button.png");
	color: black;
}
.reset-bet.deal:hover{
	background-image: url("../images/buttonHover.png");
	color: blue;
}

button.doubleDown-button{
	font-size: 13px;
	line-height: 20px;

}

.frame:hover{
 	background-image: url("../images/buttonHover.png");
 	color: blue;
 	border: 1px blue solid;
}


.coin-frame{
	background-image: url("../images/coin-frame.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 35px;
 	line-height: 32px;
 	width: 50px;
 	text-align: center;
 	/* font-family: Frijole; */
 	color: black;
 	font-size: 17px;
 	margin: 5px;
	margin: 10px -8px 10px 18px;
 	border: white 2px solid;
 	color: brown;
 	border-radius: 10%;
}
.coin-frame:hover{
 	background-image: url("../images/coinHover.jpeg");
 	color: white;
}
button.reset-bet{
	font-size: 12px;
}

.margin-bot{
	margin-top: -12px
}

.bet-square{
	background: rgba(54, 25, 25, .5);
	border-radius: 10%;
	padding: 20px;
	border: white 1px dashed;
	font-family: "Bungee Inline";
}

.bet-text{
	color: white;
	font-size: 20px;
	border: white solid 1px;
	width: 150px;
	padding: 0 5px;
}
#betAmount{
	border: white solid 1px;
	text-align: right;
	color: white;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;
}
#myCoin{
	border: white solid 1px;
	text-align: right;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;
	color: white;
}
.flip{
	backface-visibility: hidden;
	transform: rotateX(2160deg) rotateY(2160deg);
	transition: all 2s;
}
.color-orange{
	color: orange !important;
}
.no-margin-left{
	margin-left: 0 !important;
}

.rules{
 	background-image: url("../images/rules.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid yellow;
 	height: 44px;
 	line-height: 40px;
 	width: 80px;
 	font-family: "Bungee Inline";
 	font-size: 17px;
 	color: yellow;
 	position: absolute;
 	top: 20px;
 	right: 20px;
}

.rule-description{
	display: none;
	width: 600px;
	background: rgba(54, 25, 25, .5);
	position: absolute;
	font-family: 'Istok Web';
	top: 40px;
	right: 20px;
	border: white 5px solid;
	border-radius: 5%;
	color: white;
}

.description-header{
	margin-top: 20px;
	margin-bottom: 30px;
}

.hide-rules{
	margin: 15px;
	font-size: 15px;
	background-color: yellow;
	color: black;
	font-family: 'bungee inline';
}

.action{
	padding-top: 10px;
	position: absolute;
	bottom: 280px;
	right: 40px;
	background: rgba(54, 25, 25, .5);
	height: 230px;
	width: 286px;
	border-radius: 10%;
	border: white dashed 1px;
	color: white;
	font-size: 16px;
	font-family: 'Istok Web';
}
.action1{
	background: rgba(189, 125, 144, .5);
	padding-left: 20px;
}
.action3, .action5, .action7{
	color: white;
	background: rgba(54, 125, 144, .5);
	padding-left:20px;
}
/* .action9{
	padding-left: 20px;
} */
.action2, .action4, .action6, .action8{
	color: grey;
	padding-left: 20px;
}

.action-header{
	font-family: "Bungee Inline";
	margin-top: -5px;
	font-size: 20px;
	text-align: center;
	color: white;
}

.fireball, .fireball2{
	/* background-image: url('../images/fireball.png'); */
	/* border: 1px solid black; */
	width: 23px;
	height: 23px;
	/* background-repeat: no-repeat; */
	position: absolute;
	bottom: 137px;
	z-index: 0;
	right: 320px;
}
.fireball img{
	height: 100%;
	width: 100%;
}

.fireball2.f1{
	right: 20px;
}


.rotate {
    animation: spin .2s infinite linear;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}

.bet-square-wrapper{
	transform-style: preserve-3d;
	perspective: 500px;
	position: relative;
}

.high-stakes{
	background-image: url('../images/background2.jpg');
	background-size: 100%;
	perspective: 200px;
}

#winter{
	width: 400px;
	height: 300px;
	position: absolute;
	left: 40%;
	top: 25%;	
}

#winter img{
	width: 100%;
}
.blinka{
	animation: blink 1s infinite linear;
}

@keyframes blink {
	0% {
 	border: white 2px solid;
	}
	50%{
 	border: blue 2px solid;
	}
	100%{
 	border: white 2px solid;
	}
}

.mg-contents{
	position: absolute;
	margin:auto;
	margin-left: 25%;
	margin-top: 7%;
	width: 550px;
	height: 550px;
	background: rgba(54, 25, 25, .5);
	padding: 70px 70px 50px 90px;
	border: 2px white solid;
	border-radius: 50%;
	font-family: "Bungee Inline";
	text-align: center;
	color: white;
	font-size: 20px;
}
/* memory game */
.mg-tile{
	height: 100px;
	min-width: 80px;
	/* border: 2px solid black; */
	perspective: 500px; 
	padding: 0;
	/* 500px depth */
	margin: 5px 0;

}

.mg-tile-inner{
	width: 80px;
	position: relative;
	transform-style: preserve-3d;
	transition: all .8s;

}

.mg-front img{
	max-width: 100%;
	max-height: 100%;
	height: 100px;
	width: 80px;
border-radius: 10%;
}

.mg-front, .mg-back{
	position: absolute;
	top: 0;
	left: 0; 
	border: 2px solid white;
	backface-visibility: hidden;
	border-radius: 10%;
}

.mg-front{
	transform: rotateY(180deg);
}

.mg-back{
	background: url('../images/memory-back.png') no-repeat 50% 25%; 
	height: 100px;
	width: 80px;
	
	/* background-size: 50%; */
}

.flip, .matched{
	transform: rotateY(-180deg)
}

.matched{
	border-color: white;
}