body{
	background-image: url("../images/background.jpg");
	overflow: hidden;
}
.hideThis{
	display: none;
}
.score{
	background: rgba(54, 25, 25, .5);
	/* border: 2px solid white; */
	color: white;
	position: absolute;
	bottom: 580px;
	right: 1300px;
}
.flip2{
	backface-visibility: hidden;
	transform: rotateX(720deg) rotateY(720deg);
	transition: all 4s;
}
.player1-total-number {
	display: none;
}	
.player2-total-number {
	display: none;
}			
.theWholeWorld{	
	font-family: "Bungee Inline";
	font-size: 22px;
	background-size: 100%;
	height: 100%;
	display: none;
}
.throne img{
	width:50%;
}
.top-margin{
	margin-top: 5%;
}
.header{
	height: 60px;
	width: 600px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
	/* position: absolute; */
}
.header img{
	margin: auto;
}
.the-table{
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0;
}
img {
	max-width: 100%;
	max-height: 100%;
}
.dealer-total {
	color: white;
	margin-left: 0 !important;
}
.player-total {
	color: white;
	margin-left: 0 !important;
}
.bet-wrapper{
	position: absolute;
	bottom: 1px;
	right: 20px;
	padding: 20px;
}
.bet-wrapper div{
	display: inline-block;
}
.frame{
 	background-image: url("../images/button.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 62px;
 	line-height: 62px;
 	width: 100px;
 	font-family: Frijole;
 	color: black;
 	font-size: 17px;
 	margin: 20px;
	box-shadow: 3px 3px 10px 5px #000;

}
.deal{
 	background-image: url("../images/deal.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid white;
	box-shadow: 3px 3px 10px 5px #000;
 	height: 62px;
 	line-height: 55px;
 	width: 110px;
 	text-align: center;
 	font-family: Frijole;
 	font-size: 17px;
 	margin-left: 20px;
 	color: whitesmoke;	
 	z-index: 3;
 	margin-right: -5px;
}
.deal:hover{
	background-image: url("../images/dealHover.jpeg");
	border: 2px solid grey;
	transition-duration: 0;
}
.reset-bet.deal{
	background-image: url("../images/button.png");
	color: black;
}
.reset-bet.deal:hover{
	background-image: url("../images/buttonHover.png");
	color: blue;
}
button.doubleDown-button{
	font-size: 13px;
	line-height: 20px;
}
.frame:hover{
 	background-image: url("../images/buttonHover.png");
 	color: blue;
 	border: 1px blue solid;
}
.coin-frame{
	background-image: url("../images/coin-frame.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 35px;
 	line-height: 32px;
 	width: 50px;
 	text-align: center;
 	color: black;
 	font-size: 17px;
 	margin: 5px;
	margin: 10px -8px 10px 18px;
 	border: white 2px solid;
 	color: brown;
 	border-radius: 10%;
	box-shadow: 3px 3px 10px 5px #000;
}
.coin-frame:hover{
 	background-image: url("../images/coinHover.jpeg");
 	color: white;
}
button.reset-bet{
	font-size: 12px;
}
.margin-bot{
	margin-top: -12px
}
.bet-square{
	background: rgba(54, 25, 25, .5);
	padding: 20px;
	margin-left: 110px;
	border: white 2px solid;
	font-family: "Bungee Inline";
	box-shadow: 3px 3px 10px 5px #000;
}
.bet-text{
	color: white;
	font-size: 20px;
	border: white solid 1px;
	width: 150px;
	padding: 0 5px;
}
#betAmount{
	border: white solid 1px;
	text-align: right;
	color: white;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;

}
#myCoin{
	border: white solid 1px;
	text-align: right;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;
	color: white;
}
.color-orange{
	color: orange !important;
}
.no-margin-left{
	margin-left: 0 !important;
}
.rules{
 	background-image: url("../images/rules.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid yellow;
 	box-shadow: 3px 3px 10px 5px #000;
 	height: 44px;
 	line-height: 40px;
 	width: 80px;
 	font-family: "Bungee Inline";
 	font-size: 17px;
 	color: yellow;
 	position: absolute;
 	top: 20px;
 	right: 20px;
}
.rule-description{
	display: none;
	width: 300px;
	background: rgba(54, 25, 25, .5);
	position: absolute;
	font-family: 'Istok Web';
	top: 40px;
	right: 20px;
	border: white 5px solid;
	border-radius: 5%;
	color: white;
	font-size: 17px;
	box-shadow: 3px 3px 10px 5px #000;
}
.description-header{
	margin-top: 20px;
	margin-bottom: 30px;
}
.hide-rules{
	margin: 15px;
	font-size: 15px;
	background-color: yellow;
	color: black;
	font-family: 'bungee inline';
}
.action{
	padding-top: 10px;
	position: absolute;
	bottom: 260px;
	right: 40px;
	background: rgba(54, 25, 25, .5);
	height: 230px;
	width: 287px;
	border: white solid 2px;
	color: white;
	font-size: 16px;
	font-family: 'Istok Web';
	box-shadow: 3px 3px 10px 5px #000;
}
.action1{
	background: rgba(189, 125, 144, .5);
	padding-left: 20px;
}
.action3, .action5, .action7, .action2, .action4, .action6, .action8{
	color: white;
	padding-left: 20px;
}
.action-header{
	font-family: "Bungee Inline";
	margin-top: -5px;
	font-size: 20px;
	text-align: center;
	color: white;
}
.fireball, .fireball2{
	width: 23px;
	height: 23px;
	position: absolute;
	bottom: 123px;
	z-index: 0;
	right: 320px;
}
.fireball img{
	height: 100%;
	width: 100%;
}
.fireball2.f1{
	right: 20px;
}
.rotate {
    animation: spin .2s infinite linear;
}
@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}
.bet-square-wrapper{
	transform-style: preserve-3d;
	perspective: 500px;
	position: relative;
}
.high-stakes{
	background-image: url('../images/background2.jpg');
	background-size: 100%;
	perspective: 200px;
}
#winter{
	width: 400px;
	height: 300px;
	position: absolute;
	left: 40%;
	top: 25%;	
}
#winter img{
	width: 100%;
}
.blinka{
	animation: blink 1s infinite linear;
}
@keyframes blink {
	0% {
 	border: white 2px solid;
	}
	50%{
 	border: blue 2px solid;
	}
	100%{
 	border: white 2px solid;
	}
}
.player-cards{
	margin-left: 20px;
	position: absolute;
	top: 250px;
}
.dealer-cards{
	margin-left: 20px;
	position: absolute;
}
.bj-tile{
	height: 165px;
	width: 120px;
	perspective: 500px; 
	display: inline-block;
	perspective: 500px; 
	margin: 5px;
	margin-top: 30px;
}
.bj-tile-inner{
	padding: 0;
	display: none;
	width: 120px;
	position: relative;
	transform-style: preserve-3d;
	transition: all .8s;
}
.card{
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	border-radius: 10%;
	transform: rotateY(180deg);
	border: 2px solid white;
}
.card img{
	height: 165px;
	width: 120px;
	border-radius: 10%;
}
.bj-back{
	border: 2px solid white;
	position: absolute;
	top: 0;
	left: 0; 
	backface-visibility: hidden;
	border-radius: 10%;
	height: 165px;
	width: 120px;
	background: url('../images/memory-back.png') no-repeat 50% 25%; 
}
.mg-contents{
	box-shadow: 3px 3px 10px 5px #000;
	/* position: absolute; */
	margin:auto;
	/* margin-left: 430px; */
	margin-top: 50px;
	width: 530px;
	height: 530px;
	background: rgba(54, 25, 25, .5);
	padding: 55px 70px 20px 80px;
	border: 2px white solid;
	/* border-radius: 50%; */
	font-family: "Bungee Inline";
	text-align: center;
	color: white;
	font-size: 22px;
}
.circle{
	display: none;
	position: absolute;
	margin-left: 413px;
	margin-top: 27px;
	height: 580px;
	width: 580px;
	animation: spin .7s infinite linear;
	background-image: url('../images/circle.png');
	background-repeat: no-repeat;
	background-size: 100%;
}	

.mg-tile{
	height: 100px;
	min-width: 80px;
	perspective: 500px; 
	padding: 0;
	margin: 5px 0;

}
.mg-tile-inner{
	width: 80px;
	position: relative;
	transform-style: preserve-3d;
	transition: all .8s;

}
.mg-front img{
	max-width: 100%;
	max-height: 100%;
	height: 100px;
	width: 80px;
	border-radius: 10%;

}
.mg-front, .mg-back{
	position: absolute;
	top: 0;
	left: 0; 
	border: 2px solid white;
	backface-visibility: hidden;
	border-radius: 10%;
	box-shadow: 3px 3px 10px 5px #000;

}
.mg-front{
	transform: rotateY(180deg);
}
.mg-back{
	background: url('../images/memory-back.png') no-repeat 50% 25%; 
	height: 100px;
	width: 80px;
}
.flip, .matched{
	transform: rotateY(-180deg)
}
.matched{
	border-color: white;
}
.game-background{
	box-shadow: 3px 3px 10px 5px #000;
	position: absolute;
	border: 2px solid white;	
	background: rgba(54, 25, 25, .5);
	bottom: 20px;
	right: 345px;
	width: 800px;
	height: 590px;
}
.dragon{
	position: absolute;
	top: 100px;
	left: 0px;
	height: 240px;
	width: 240px;
	background: url("../images/dragon.png");
	background-size: 2412px 1074px;
	background-position: 0px 960px;
	animation: fly 1s steps(8) infinite;
}
@keyframes fly{
	100%{
		background-position: -2015px 960px;
	}
}
.fly-dragon{
	position: absolute;
	animation: fly-right 20s linear infinite;	
}
@keyframes fly-right{
	0%{
		top: 330px;
		left: -200px;
	}
	50%{
		top: 200px;
	}
	100%{
		top: 00px;
		left: 1300px;
	}
}
.dragon2{
	position: absolute;
	height: 240px;
	width: 240px;
	background: url("../images/dragon.png");
	background-size: 2412px 1074px;
	background-position: 0px 960px;
	animation: fly2 1s steps(8) infinite;
	transform: rotateY(180deg);
}
@keyframes fly2{
	100%{
		background-position: -2015px 960px;
	}
}
.fly-dragon2{
	position: absolute;
	animation: fly-right2 20s linear infinite;	
}
@keyframes fly-right2{
	0%{
		top: 100px;
		left: 1300px;
	}
	50%{
		top: 350px;
	}
	100%{
		top: 280px;
		left: -400px;
	}
}

#the-canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.crow{
	display: none;
	position: absolute;
	right: 75px;
	bottom: 500px;
}

.arrow{
	width: 120px;
	height: 200px;
	transform: rotate(0deg);
	position: absolute;
	animation: point 1.3s infinite linear;
	display: none;
}

@keyframes point{
	0%{
		right: 340px;
		bottom: 70px;
	}
	25%{
		right: 380px;
		bottom: 100px;
	}
	50%{
		right: 340px;
		bottom: 70px;
	}
	75%{
		right: 380px;
		bottom: 100px;
	}	
	100%{right: 340px;
		bottom: 70px;

	}
}

.wrapper{
	/* width: 100%; */
	color: #bdbdbd;
	font-family: 'Lobster';
	font-size: 20px;
}
.GOTchar{
	margin: auto;
}
.blue{
	color: white;
}