
/* #my-canvas{
	border: 10px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("images/background.jpg");
	margin: 0;
	padding: 0;
} */

body{
	font-family: "Bungee Inline";
	font-size: 22px;
	background-image: url("../images/background.jpg");
	/* background-repeat: no-repeat; */
}
.game-wrapper{
}
.top-margin{
	margin-top: 5%;
}
.header{
	height: 60px;
	width: 500px;
	margin-left: 50px;
	margin-top: 25px;
	position: absolute;
}
.header img{
	margin: auto;
}
.the-table{
	/* background-color: darkblue; */
	/* border: 5px solid #663300; */
	border-radius: 10px;
	margin-top: 50px;
	padding: 30px 0;
	/* transform: perspective(1500px) rotateX(35deg); */

}
.placehold{
	width: 100%;
}

.dealer-cards{
	/* perspective: 300px */
}

.hide-card-2{
	margin: ;
}

.card{
	height: 220px;
	width: 14%;
	/* background-color: #fff; */
	color: black;
	/* border: 2px solid black; */
	/* #FDC91C */
	padding: 0;
	margin: 0;
	/* transform: rotateY(25deg); */
	/* display: inline-block; */
    /* box-shadow: 4px 4px 5px darkorange; */
}


img {
	width: 100%;
	height: 100%;
}

.container {
	width: 90% !important;
}

.dealer-total {
	color: white;
}
.player-total {
	color: white;
}

.dealer-cards .card{
	/* float: right; */
}

.bet-wrapper{
	position: absolute;
	bottom: 20px;
	right: 20px;
	/* background-color: white; */
	padding: 20px;
}
.bet-wrapper div{
	display: inline-block;
}
.frame{
 	background-image: url("../images/button.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 62px;
 	line-height: 62px;
 	width: 100px;
 	text-align: center;
 	font-family: Frijole;
 	color: black;
 	font-size: 17px;
 	margin: 20px;
}

.deal{
 	background-image: url("../images/deal.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid white;
 	height: 62px;
 	line-height: 55px;
 	width: 110px;
 	text-align: center;
 	font-family: Frijole;
 	font-size: 17px;
 	margin-left: 20px;
 	color: whitesmoke;
}
.deal:hover{
	background-image: url("../images/dealHover.jpeg");
	border: 2px solid grey;
	transition-duration: 0;
}
.reset-bet.deal{
	background-image: url("../images/button.png");
	color: black;
}
.reset-bet.deal:hover{
	background-image: url("../images/buttonHover.png");
	color: blue;
}

button.doubleDown-button{
	font-size: 13px;
	line-height: 20px;
	/* margin-top: 10px; */
}

.frame:hover{
 	background-image: url("../images/buttonHover.png");
 	color: blue;
 	border: 1px blue solid;
}
.doubleDown-button button{
	margin-top: 10px;
}
.coin-frame{
	background-image: url("../images/coin-frame.png");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: none;
 	height: 35px;
 	line-height: 32px;
 	width: 50px;
 	text-align: center;
 	/* font-family: Frijole; */
 	color: black;
 	font-size: 17px;
 	margin: 5px;
	margin: 10px -8px 10px 20px;
 	border: white 2px solid;
 	color: brown;
 	border-radius: 10%;
}
.coin-frame:hover{
 	background-image: url("../images/coinHover.jpeg");
 	color: white;
}
button.reset-bet{
	font-size: 12px;
}

.margin-bot{
	margin-top: -12px
}

.bet-square{
	/* background-color: #c8e6c9; */
	border-radius: 10%;
	padding: 20px;
	border: white 1px dashed;
	font-family: "Bungee Inline";
}

.bet-text{
	color: white;
	font-size: 20px;
	border: white solid 1px;
	width: 150px;
	padding: 0 5px;
}
#betAmount{
	border: white solid 1px;
	text-align: right;
	color: white;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;
}
#myCoin{
	border: white solid 1px;
	text-align: right;
	color: white;
	font-size: 20px;
	width: 90px;
	padding: 0 5px;
}
.flip{
	backface-visibility: hidden;
	transform: rotateX(2160deg) rotateY(2160deg);
	transition: all 2s;
	transition-delay: 0
}

.deal-reset{
	/* height: 50px; */
	/* margin: auto; */
}

.no-margin-left{
	margin-left: 0 !important;
}

.rules{
 	background-image: url("../images/rules.jpeg");
 	background-repeat: no-repeat;
 	background-size: 100%;
 	border: 2px solid yellow;
 	height: 44px;
 	line-height: 40px;
 	width: 80px;
 	font-family: "Bungee Inline";
 	font-size: 17px;
 	color: yellow;
 	position: absolute;
 	top: 20px;
 	right: 20px;
}

.rule-description{
	display: none;
	width: 600px;
	background-color: white;
	opacity: .5;
	position: absolute;
	top: 40px;
	right: 20px;
	border: white 5px solid;
	border-radius: 5%;
}

.description-header{
	margin-top: 20px;
	margin-bottom: 30px;
}

.hide-rules{
	margin: 15px;
}

.action{
	position: absolute;
	bottom: 280px;
	right: 40px;
	/* background-color: white; */
	height: 300px;
	width: 286px;
	border-radius: 10%;
	border: white dashed 1px;
	color: white;
}